.recommended{
    padding: 0 8rem 0 8rem ;
    /* height: 18rem; */
    color:#DAD2D8 ;
    display: flex;
    justify-content: space-between;
    column-gap:3rem ;
}

.recommended > img{
    margin-top: 1rem;
    width: 30%;
    height: fit-content;
    background-color: #EC9A29;
    border-radius: 1rem;
}



/* #DAD2D8
#143642
#0F8B8D
#EC9A29
#A8201A */