

.category__content {
    max-width: 8rem;
    text-align: center;
}

.category__content__image {
    margin-top: 1rem;
    width: 8rem;
    height: 8rem;
    border-radius: 1rem;
}



/* #DAD2D8
#143642
#0F8B8D
#EC9A29
#A8201A */